@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
:root {
  background-color: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
li,
a,
button {
  font-family: "Montserrat", san-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end;*/
  align-items: center;
  padding: 30px 10%;
  background-color: #030033;
  box-shadow: 0px 0px 20px 0;
}

.logo {
  color: #ffffff;
  /*margin-right: auto;*/
  cursor: pointer;
  left: 150px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 1000px;
  padding-top: 25px;
  color: #f0ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-shadow: rgb(18, 179, 179);
}
.body1 {
  background: #141414;
  color: #fff;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
/* //agamjot iske colors theek kardiyo */
.demo-text {
  color: rgb(255, 245, 245);
  background: #141414;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
}
/* Image gallery stlyling */
.container1 {
  max-width: 900px;
  margin: 80px auto 0;
  text-align: center;
}

.container__img-holder {
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-left: 16px;
  cursor: pointer;
  width: fit-content;
}

.container .container__img-holder:nth-child(3n + 1) {
  margin-left: 0;
  width: 100%;
  height: 220px;
}

.container__img-holder img {
  width: 100%;
  height: 220px;
  display: block;
}
