@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto&display=swap');
:root {
  background-color: #000000;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
}
button, a {
  font-family: "Montserrat", san-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #030033;
  box-shadow: 0px 0px 20px 0;
  
}

.logo {
  color: #ffffff;
  cursor: pointer;
  left: 150px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 1000px;
  color: #f0ffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 21px;
}


.body1 {
  background: #000000;
  color: #fff;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}
/* //agamjot iske colors theek kardiyo */
.demo-text {
  color: rgb(255, 245, 245);
  background: #000000;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
}
/* Image gallery stlyling */
.container1 {
  max-width: 900px;
  margin: 80px auto 0;
  text-align: center;
}

.container__img-holder {
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-left: 16px;
  cursor: pointer;
  width: fit-content;
}

.container .container__img-holder:nth-child(3n + 1) {
  margin-left: 0;
  width: 100%;
  height: 220px;
}

.container__img-holder img {
  width: 100%;
  height: 220px;
  display: block;
}



.container1 {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {

  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}
/*footeer*/
ul {
  margin: 0;
  padding: 0;
}

#contact a {
  color: #030303;
  margin: 10px;
}

#contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #030033;
}

#icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.5s;
}

#icon-container {
  display: flex;
  justify-content: center;
}

#icon:hover {
  transform: translateY(-5px);
}

#contact p {
  font-size: 14px;
}




/* video gallery */
section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background: #2B3044;
}

.section-header h1 {
  font: 400 32px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 15px;
  max-width: 1100px;
  padding: 15px; 
  margin: 0 auto;
  box-sizing: border-box;
}

.video-gallery .gallery-item {
  position: relative;
  width: 100%;
  height: 300px;
  background: #000;
  cursor: pointer;
  overflow: hidden;
}

.video-gallery .gallery-item img {
  position: relative;
  display: block;
  width: 115%;
  height: 300px;
  object-fit: cover;
  opacity: .5;
  /*transition: opacity .35s, transform .35s;*/
  transition: all 350ms ease-in-out;
  transform: translate3d(-23px, 0, 0);
  /*backface-visibility: hidden;*/
}

.north-cascades-img {
  object-position: 50% 30%;
}

.video-gallery .gallery-item .gallery-item-caption {
  padding: 32px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 12px 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
  position: relative;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}

.video-gallery .gallery-item p {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 12px 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
  opacity: 0.3;
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
  text-align: left;
}

.video-gallery .gallery-item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* YEH apna our team*/
.Our-TeamHeading h1 {
  font: 400 32px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.body2 {
  background: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

.container2 {
  margin-top: 50px;
}

 .Vinayak, .Agamjot{
   border-radius: 50%;
 }
.container2 .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.container2 .team .member {
  width: 325px;
  margin: 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}

.container2 .team .member img {
  width: 80px;
}

.container2 .team .member h3 {
  color: #444;
}

.container2 .team .member span {
  font-size: 12px;
  color: #999;
}

.container2 .team .member p {
  margin: 15px 0;
  font-weight: 400;
  color: #999;
  font-size: 15px;
  text-align: justify;
}
 
.container2 .team .member .btn a {
  background: #ddd;
  display: block;
  float: right;
  width: 125px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 6px;
  color: #444;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.container2 .team .member .btn a:hover {
  background: #030033;
  color: #fff;
}


